<footer class="d-flex flex-wrap justify-content-center text-center align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; Developed by Andriel Vinicius</p>
</footer>