<div class="container">
    <form action="/report" method="post">
        <div class="mb-3 text-center">
            <h3>
                <label for="content" class="form-label">Digite o texto a ser analisado</label>
            </h3>
            <textarea class="form-control" name="content" id="content" spellcheck="true" rows="10"
                placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit..."> </textarea>
            <button class="btn btn-primary mt-3"> Enviar </button>
        </div>
    </form>
</div>