<div class="container">
    <form action="/home" method="post">
        <div class="mb-3 text-center">
            <label for="content" class="form-label">Texto a ser analisado</label>
            <textarea class="form-control" name="content" spellcheck="true" rows="10"> </textarea>
            <button class="btn btn-primary mt-3"> Enviar </button>
        </div>
    </form>
</div>