<% if (response !==undefined) { %>
    <div id="app" class="container py-4">
        <% if(response.includes("Detectamos as seguintes expressões ofensivas nesse texto: ")) { %>
            <%-	include('./reports/warning')%> 
        <%}%> 
        <%if(response.includes("Verificamos que não há ofensa alguma no texto")) {%>
            <%- include('./reports/success')%>
        <%}%>
    </div>
    <% }%>