<% if (response !==undefined) { %>
    <div id="app" class="container">
        <h3 class="text-md-center alert-info"> Resultados: </h3>
        <p class="text-md-center">
            <%= response %>
        </p>
    </div>

    <% }%>