<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../components/head')%>
</head>

<body>
    <main class="container">
        <%- include('../components/result'), { response: response } %>
    </main>

    <footer class="container">
        <%- include('../components/footer')%>
    </footer>
</body>

</html>